
:local(.container) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

:local(.box) {
  margin: 2px 0;
  padding: 3px 5px;
  background: #fcf8e3;
  color: #8a6d3b;
  border: 1px solid #faebcc;
  border-radius: 4px;
}

:local(.format-string) {
  display: block;
  margin-bottom: 2px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  text-decoration: underline;
}

:local(.description) {
  display: block;
  font-family: sans-serif;
  font-size: small;
}
