:root {
  --font-family: monospace;
  --font-size: 1em;
  --spacing: 0.02em;
  --width: 480px;
}

:local(.base) {
  background: #fff;
  padding: 5px;
}

:local(.hovering) {
  background: orange;
  opacity: 0.5;
}

:local(.ascii-cell) {
  color: #757575;
  cursor: default;
  font-family: monospace;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 1px 0.8px;
  user-select: none;
}

:local(.ascii-cell:nth-child(9)) {
  margin-left: 0.7em;
}

:local(.cell) {
  cursor: text;
  font-family: monospace;
  font-size: 1.2em;
  padding: 1px 3px;
  user-select: none;
}

:local(.cell:nth-child(even)) {
  color: #878787;
}

:local(.cell:nth-child(9)) {
  border-left: 1px solid rgba(201, 201, 201, 0.5);
}

:local(.selecting) {
  background: rgba(191, 238, 255, 0.8);
}

:local(.line-container) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 20px;
}

:local(.line) {
  display: inline-block;
  margin-right: 10px;
}

:local(.line) span {
  color: #cecece;
  cursor: default;
  font-family: monospace;
  line-height: 1.2em;
  min-height: 20px;
  user-select: none;
}

:local(.hex-line-container) {
  margin-left: 5px;
  min-width: 410px;
  position: relative;
}

:local(.ascii-line-container) {
  color: #cecece;
  font-family: monospace;
  margin-left: 5px;
  position: relative;
}

:local(.cursor) {
  background: orange;
  opacity: 0.8;
}

:local(.blink-cursor) {
  animation: 1s blink step-end infinite;
  border-bottom: 1px solid black;
}

@keyframes blink {
  from,
  to {
    border-bottom-color: transparent;
  }

  50% {
    border-bottom-color: black;
  }
}
