:local(.clear-button) {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    cursor: pointer;
    display: inline-block;
    color: #333;
    font-size: 20pt;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0;
    text-align: center;
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    user-select: none;
    vertical-align: middle;
    width: 36px;
}

:local(.clear-button:disabled) {
    cursor: default;
    color: #dcdcdc
}

:local(.clear-button:hover:enabled) {
    color: #ff8282
}

:local(.clear-button:active:enabled) {
    color: #ff3737
}

