
:local(.container) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 20px;
}

:local(.box) {
  margin: 2px 0;
  padding: 3px 5px;
  background: #fbfbf2;
  color: #8a6d3b;
  border: 1px solid #faebcc;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

:local(.format-string) {
  display: block;
  padding-left: 3px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  min-width: 30px;
  margin-top: 3px;
  margin-right: 5px;
  text-align: center;
  letter-spacing: 4px;
  border-radius: 5px;
  background: #faebcc;
  max-height: 23px;
  min-height: 23px;
  user-select: none;
  cursor: default;
}

:local(.description) {
  display: block;
  padding: 3px;
  font-size: 0.8em;
}

:local(.foot-note) {
  margin-top: 5px;
  font-size: 0.8em;
  color: #333;
  text-justify: newspaper;
}

:local(.foot-note) a {
  text-decoration: unset;
}
