:root {
  --font-family: monospace;
  --font-size: 16px;
  --spacing: 0.02em;
}

:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

body {
  background: rgba(1, 1, 1, 0.01);
  margin: 0;
  min-width: 800px;
  padding: 0;
}

:local(.row) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

:local(.header) {
  background: #fafafa;
  border-bottom: 1px solid #ebebeb;
  color: #666;
  font-size: small;
  margin-bottom: 10px;
  padding: 15px;
}

:local(.input-section) {
  align-items: center;
  background: #fff;
  border-radius: 0.2rem;
  border: 1px solid rgba(1, 1, 1, 0.15);
  box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.2);
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 80px;
  transition: box-shadow 0.3s ease;
  user-select: none;
  width: 900px;
}

:local(.input-section:hover) {
  box-shadow: 0 1px 10px 0 rgba(1, 1, 1, 0.2);
}

:local(.input-container) {
  display: inline-block;
}

:local(.input-caption) {
  color: #767676;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: italic;
}

:local(.section-header) {
  color: rgb(119, 119, 119);
  font-size: smaller;
  font-family: arial, sans-serif;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 1px solid #ebebeb;
  display: block;
  margin-bottom: 5px;
  min-height: 20px;
  padding-left: 5px;
  width: 98%;
}

:local(.section-header) span:nth-child(2) {
  margin-left: 10px;
}

:local(.tabs) {
  border-bottom: transparent 2px solid;
  cursor: pointer; 
}

:local(.active) {
  color: rgb(66, 133, 244);
  border-bottom: rgb(66, 133, 244) 2px solid;
}

:local(.hex-section) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 30px;
  width: 900px;
}

:local(.hex-editor-container) {
  padding: 3px;
  width: 630px;
}

:local(.result-section-container) {
  padding: 3px;
  flex-grow: 1;
  margin-left: 5px;
}
