:root {
  --font-family: monospace;
  --font-size: 16px;
  --spacing: 0.02em;
}

:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}

body {
  background: rgba(1,1,1,0.01);
  min-width: 800px;
}

:local(.input-section) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
}

:local(.input-container) {
  display: inline-block;
}

:local(.input-caption) {
  color: #979797;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: italic;
}
