@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
  --font-family: 'Source Code Pro', monospace;
  --font-size: 16px;
  --spacing: 0.02em;
}

:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

body {
  background: rgba(1, 1, 1, 0.01);
  margin: 0;
  min-width: 900px;
  padding: 0;
}

:local(.logo) {
  background: url(./assets/logo.png) 0 0/76px 76px no-repeat;
  color: #545454;
  min-width: 76px;
  min-height: 100%;
  left: 10px;
  display: block;
  position: absolute;
  letter-spacing: -0.025em;
  opacity: 0.4;
}

:local(.row) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

:local(.header) {
  box-sizing: border-box;
  background: #fafafa;
  border-bottom: 1px solid #ebebeb;
  color: #666;
  font-size: small;
  margin-bottom: 10px;
  padding: 15px;
}

:local(.input-section) {
  align-items: center;
  background: #fff;
  border-radius: 0.2rem;
  border: 1px solid rgba(1, 1, 1, 0.15);
  box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.2);
  cursor: default;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 80px;
  transition: box-shadow 0.3s ease;
  user-select: none;
  width: 920px;
}

:local(.input-section:hover) {
  box-shadow: 0 1px 10px 0 rgba(1, 1, 1, 0.2);
}

:local(.input-container) {
  display: inline-block;
  padding-left: 40px;
}

:local(.input-caption) {
  color: #767676;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: italic;
}

:local(.section-header) {
  color: rgb(119, 119, 119);
  font-size: smaller;
  font-family: arial, sans-serif;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 1px solid #ebebeb;
  display: block;
  margin-bottom: 5px;
  min-height: 20px;
  padding-left: 5px;
  width: 98%;
}

:local(.section-header) span:nth-child(2) {
  margin-left: 10px;
}

:local(.hex-section) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 900px;
}

:local(.hex-editor-container) {
  padding: 3px;
  width: 630px;
}

:local(.result-section-container) {
  padding: 3px;
  flex-grow: 1;
  margin-left: 5px;
}

:local(.error-box) {
  animation: QLDuNQsGz0__slideDown 0.3s;
  background: #e25c4b;
  border-radius: 5px;
  border: #dcdcdc solid 2px;
  color: #fff;
  display: block;
  font-weight: bold;
  left: -20px;
  min-height: 50px;
  opacity: 0.9;
  padding: 15px;
  position: absolute;
  right: -10px;
  top: 10px;
}

@keyframes QLDuNQsGz0__slideDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 0.9;
    transform: none;
  }
}

:local(.tab-container) {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: 260px;
  height: 100%;
}

:local(.tab-inner) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100%;
  min-width: 520px;
  transition: 0.2s ease-in-out;
}

:local(.tab-item) {
  backface-visibility: hidden;
  min-width: 250px;
  text-decoration: none;
}

:local(.tab-item):nth-child(2) {
  margin-left: 10px;
}

:local(.to-left) {
  transform: translate3d(-247px, 0, 0);
}

:local(.to-right) {
  transform: translate3d(5px, 0, 0);
}

:local(.tabs) {
  user-select: none;
  border-bottom: transparent 2px solid;
  text-decoration: none;
  cursor: pointer;
}

:local(.tabs):nth-child(2) {
  margin-left: 10px;
}

:local(.tabs:active) {
  color: rgb(66, 133, 244);
}

:local(.tabs:visited) {
  color: rgb(119, 119, 119);
}

:local(.active) {
  color: rgb(66, 133, 244) !important;
  text-decoration: none;
  border-bottom: rgb(66, 133, 244) 2px solid;
}
