:local(.invisible-textbox) {
    position: fixed;
    top: -10px;
    width: 3em;
    height: 1em;
    opacity: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}