:root {
  --font-family: monospace;
  --font-size: 1em;
  --spacing: 0.02em;
  --width: 520px;
}

:local(.taggable-outer) {
  border: 0;
  border-radius: 0;
  background: #fbfbf2;
  display: inline-block;
  font-size: 16px;
  font-family: var(--font-family);
  height: 36px;
  margin: 0 10px;
  padding: 0;
  vertical-align: middle;
  width: var(--width);
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  overflow: hidden;
}

:local(.focused) {
  background: #fff;
  box-shadow: none;
}

:local(.input-container) {
  display: inline-block;
  height: 100%;
  position: relative;
  text-transform: none;
  width: 100%;
}

/* outline */
:local(.outline) {
  display: block;
  position: absolute;
  background: #bcbcbc;
  bottom: 0;
  border: 0;
  border-radius: 0;
  height: 2px;
  left: 0;
  width: 100%;
  opacity: 0;
  transform-origin: left;
  transition: opacity 0.3 ease background 0.3 ease;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

:local(.outline-background) {
  opacity: 0.2;
}

:local(.active) {
  opacity: 1;
  background: rgba(71, 71, 71, 0.89);
  animation: QLDuNQsGz0__activating 0.35s forwards;
}

@keyframes QLDuNQsGz0__activating {
  0% { transform: scaleX(0); }
  60% { transform: scaleX(1); }
  80% { transform: scaleX(0.98); }
  100% { transform: scaleX(1); }
}

:local(.inactive) {
  opacity: 1;
  background: rgba(71, 71, 71, 0.89);
  animation: QLDuNQsGz0__inactivating 0.5s forwards;
}

@keyframes QLDuNQsGz0__inactivating {
  40% { transform: scaleX(0); }
  55% { transform: scaleX(0.04); }
  70% { transform: scaleX(0); }
  85% { transform: scaleX(0.02); }
  100% { transform: scaleX(0); }
}

:local(.invalid-outline) {
  background: #e25c4b;
}

:local(.invalid) {
  background: #e25c4b;
}

/* Background */
:local(.background) {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

:local(.inner) {
  height: 100%;
  position: relative;
  width: 100%;
}

:local(.highlight-container) {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: -1px;
  position: absolute;
  right: 0;
  top: 0;
}

:local(.highlght-spacing) {
  display: inline-block;
  font-family: var(--font-family);
  font-size: var(--font-size);
  height: 100%;
  letter-spacing: var(--spacing);
  opacity: 0;
  position: relative;
  white-space: pre;
}

:local(.highlight) {
  background: red;
  border-radius: 3px;
  color: #cecece;
  display: inline-block;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: italic;
  height: 1.8em;
  letter-spacing: var(--spacing);
  line-height: 1.8em;
  position: relative;
  white-space: pre;
}

/* Foreground */
:local(.input) {
  background: transparent;
  border: none;
  bottom: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  left: 0;
  letter-spacing: var(--spacing);
  outline-width: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

:local(.input:focus) {
  outline-offset: 0;
  outline-width: 0;
}

/* Clear Button */
:local(.clear-button-outer) {
  align-items: center;
  background: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 36px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 36px;
}

:local(.clear-button) {
  background: transparent;
  border-radius: 100px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: #585858;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  height: 16px;
  line-height: 14px;
  padding: 0;
  right: 0;
  transition: background 0.2s ease, box-shadow 0.2s ease, color 0.1s, opacity 0.2s ease;
  user-select: none;
  vertical-align: middle;
  width: 16px;
}

:local(.clear-button:disabled) {
  color: #dcdcdc;
  cursor: default;
  opacity: 0;
  pointer-events: none;
}

:local(.clear-button:focus:enabled) {
  background: #e25c4b;
  color: #fff;
}

:local(.clear-button:hover:enabled) {
  background: #e25c4b;
  color: #fff;
}

:local(.clear-button:active:enabled) {
  background: #ff3737;
  color: #fff;
}

/* Modifiers */
:local(.invalid) {
  background: #ffe5e5;
}

:local(.highlight-animation) {
  animation: QLDuNQsGz0__highlighting 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes QLDuNQsGz0__highlighting {
  0% { transform: scaleY(0.9); }
  50% { transform: scaleY(1.1); }
  75% { transform: scaleY(0.9); }
  85% { transform: scaleY(1.1); }
  100% { transform: scaleY(1); }
}
